
.operations{
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 420px;
    background-color: #FFFFFF;
    border-radius: 26px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.04);
    margin-top: 38px;
    justify-content: center;
    align-items: center;
}
.oper_not_exists{
    display: flex;
    flex-direction: column;
    place-items: center;
    align-items: center;
    text-align: center;
    margin-top: 18px;
    max-width: 100%;
    justify-content: center;
    align-items: center;

}

.oper_not_exists_img{
    background-image: url(../../static/imgs/not_list.png);
    height: 73px;
    width: 74px;
}
.add_operation {
    display: block;
    background-color: #EB5B1D;
    border-radius: 8px;
    height: 43px;
    width: 100%;
    font-family: "Montserrat";
        font-weight: 600;
    color: white;
    text-align: center;
    text-decoration: none;
    line-height: 43px;
}

.operations-list{
    display: grid;
    gap: 70px;
    padding: 20px;
}

.operation {
    display: flex;
    justify-content: space-between; /* раздвигает левый и правый блоки */
    align-items: center;            /* вертикальное выравнивание */
    gap: 10px;
}

.title_with_category {
    display: flex;
    flex-direction: column; /* title и category друг под другом */
    text-align: left;
}

.price_and_time {
    display: flex;           /* flex-контейнер */
    flex-direction: column;  /* вертикальный столбик */
    margin-left: auto;       /* прижимает блок к правому краю */
    text-align: right;       /* выравнивание текста справа */
    gap: 2px;                 /* небольшой отступ между ценой и временем */
}

.title_oper{
    font-weight: bold;
}

.price_oper{
    font-weight: bold;
}



.operation_img{
    width: 43px;
    height: 43px;
}