.balance {
  margin-left: 30px;
  float: left;
  position: relative;
  top: -15px;
}

.balance-text {
  font-family: Montserrat;
  font-weight: 500;
  color: #555353;
}

.priceAndBlock{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.Fact-Balance {
  width: 34vw; /* Ширина в пикселях */
  height: 21vw; /* Высота в пикселях */
  background-color: #ffffff;
  border-radius: 26px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04);
}

.Fact-Plan-text {
  font-family: Montserrat;
  font-weight: bold;
  color: #949494;
  margin-left: 32px;
  padding-top: 37px;
}

.FactSum {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 32px;
  margin-left: 32px;
  margin-top: 43px;
}

.Fact-text {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 13px;
}

.Fact-balance-text {
  margin-left: 32px;
  position: relative;
  bottom: 46px;
}

.Fact-minus-text {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 13px;
  color: #9e0c0c;
}

.Fact-plus-text {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 13px;
  color: #72b552;
}

.CheckSum {
  display: flex;
  position: relative;
  bottom: 30px;
  color: black;
}

.ProcentUp {
  background-color: #a1ff89;
  height: 32px;
  width: 67px;
  float: right;
  margin-left: 150px;
  border-radius: 5px;

}

.ProcentDown {
  background-color: #ff7c7c;
  height: 32px;
  width: 67px;
  float: right;
  margin-left: 150px;
  border-radius: 5px;
}

.ProcTextUp {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  color: #24a600;
  text-align: center;
  position: relative;
  top: -5px;
}

.ProcTextDown {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  color: #9e0c0c;
  text-align: center;
  position: relative;
  top: -5px;
}

.balance_not_exists {
  display: grid;
  place-items: center;
  align-items: center;
  text-align: center;
  margin-top: 18px;
  position: relative;
  top: 25%;
  gap: 5px;
}

.balance_not_exists_img {
  background-image: url(/imgs/not_list.png);
  height: 73px;
  width: 74px;
}


@media (max-width: 768px) {
    .Fact-Balance{
        width: 176px; /* Ширина в пикселях */
        height: 92px; /* Высота в пикселях */
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04);
    }

    .FactSum{
        font-size: 10px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .Fact-balance-text {
        font-family: "Montserrat";
        font-weight: bold;
        margin-left: 10px;
        padding-top: 20px;
        font-size: 7px;
    }

    .ProcentUp {
        background-color: #a1ff89;
        height: 15px;
        width: 34px;
        float: right;
        margin-left: 81px;
        border-radius: 5px;
    }

    .ProcentDown {
        background-color: #ff7c7c;
        height: 15px;
        width: 34px;
        float: right;
        margin-left: 81px;
        border-radius: 5px;
    }

    .ProcTextUp {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 7px;
        color: #24a600;
        text-align: center;
        position: relative;
        top: -5px;
    }

    .ProcTextDown {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 7px;
        color: #9e0c0c;
        text-align: center;
        position: relative;
        top: -5px;
    }

    .Fact-text {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 9px;
    }

    .Fact-minus-text {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 9px;
        color: #9e0c0c;
    }

    .Fact-plus-text {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 9px;
        color: #72b552;
    }
    .priceAndBlock{
        margin-top: 17px;
    }



}
