.balance {
  margin-left: 30px;
  float: left;
  position: relative;
  top: -15px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.balance-text {
  font-family: Montserrat;
  font-weight: 500;
  color: #555353;
}

.priceAndBlock{
    display: flex;
    align-items: center;
    gap: 20px;
}

.Fact-Balance {
  width: 34vw;
  height: 15vw;
  background-color: #ffffff;
  border-radius: 26px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04);
}

.Fact-Plan-text {
  font-family: Montserrat;
  font-weight: bold;
  color: #949494;
  margin-left: 16px;
}

.FactSum {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 32px;
  margin-left: 16px;
}

.Fact-text {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 13px;
}

.Fact-balance-text {
  margin-left: 16px;
  position: relative;
  bottom: 46px;
}

.Fact-minus-text {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 13px;
  color: #9e0c0c;
}

.Fact-plus-text {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 13px;
  color: #72b552;
}

.CheckSum {
  display: flex;
  position: relative;
  bottom: 30px;
  color: black;
}

#planCheckSum{
    flex-direction: column;
    gap: 5px;
}

.ProcentUp {
  background-color: #a1ff89;
  height: auto;
  width: auto;
  border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.ProcentDown {
  background-color: #ff7c7c;
    height: auto;
    width: auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProcTextUp {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  color: #24a600;
}

.ProcTextDown {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
  color: #9e0c0c;
}

.balance_not_exists {
  display: grid;
  place-items: center;
  align-items: center;
  text-align: center;
  margin-top: 18px;
  position: relative;
  top: 25%;
  gap: 5px;
}

.balance_not_exists_img {
  background-image: url(/imgs/not_list.png);
  height: 73px;
  width: 74px;
}


@media (max-width: 768px) {
    .Fact-Balance{
        width: 50%;
        height: 92px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04);
    }

    .FactSum{
        margin-left: 10px;
        margin-top: 10px;
        font-size: calc(8px + 1vh);
    }

    .Fact-balance-text {
        font-family: "Montserrat";
        font-weight: bold;
        margin-left: 10px;
        padding-top: 20px;
        font-size: 7px;
    }


    .ProcTextUp {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 7px;
        color: #24a600;
        text-align: center;
        position: relative;
    }

    .ProcTextDown {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 7px;
        color: #9e0c0c;
        text-align: center;
        position: relative;
    }

    .Fact-text {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 9px;
    }

    .Fact-minus-text {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 9px;
        color: #9e0c0c;
    }

    .Fact-plus-text {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 9px;
        color: #72b552;
    }
    .priceAndBlock{
        margin-top: 17px;
    }



}
