.Plan-Balance {
  width: 34vw; /* Ширина в пикселях */
  height: 10vw; /* Высота в пикселях */
  background-color: #ffffff;
  border-radius: 26px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04);
}

.PlanSum {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 32px;
  margin-left: 32px;
  margin-top: 35px;
}

.Plan-Balance-text {
  font-family: Montserrat;
  font-weight: 600;
  margin-left: 32px;
}

.Plan-Balance-text {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 13px;
  margin-left: 32px;
  position: relative;
  bottom: 46px;
}

.Plan-text {
  color: #9e0c0c;
  text-align: center;
}

.balance_not_exists {
  display: grid;
  place-items: center;
  align-items: center;
  text-align: center;
  margin-top: 18px;
  position: relative;
  top: 25%;
  gap: 5px;
}

.balance_not_exists_img {
  background-image: url(/imgs/not_list.png);
  height: 73px;
  width: 74px;
}


@media (max-width: 768px) {
    .Plan-Balance{
        width: 162px; /* Ширина в пикселях */
        height: 92px; /* Высота в пикселях */
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04);
    }
    .Plan-Balance-text {
        font-family: Montserrat;
        font-weight: 600;
        margin-left: 10px;
    }
    .Fact-Plan-text{
        font-size: 10px;
        margin-left: 10px;
        padding-top: 5px ;
    }

    .PlanSum{
        font-size: 10px;
        margin-left: 10px;
        margin-top: 25px;
    }

    #scheta{
        display: none;
    }




}