<div class="cards">
    <div class="card1">
        <h3 class="Card-One-text">
            Карта №1
        </h3>
        <div class="CheckSum">
            <h2 class="FactSum">{{ card1.balance }} ₽</h2>
        </div>
        {{#if FactBalance.hasUpdateFactPlan }}
            <div class="Fact-balance-text" style="display: flex">
                <p class="Fact-plus-text" >+{{ card1.updateCardFortwoWeek }}₽&nbsp;<p>
                <p class="Fact-text"> за последние 2 недели</p>
            </div>
        {{else}}
            <div class="Fact-balance-text" style="display: flex">
                <p class="Fact-minus-text" >{{ card1.updateFactFortwoWeek }}₽&nbsp;<p>
                <p class="Fact-text"> за последние 2 недели</p>
            </div>
        {{/if}}
        <div class="rashod-card">
            <p class="NaibolshRashod">наибольший расход за период</p>
        </div>
    </div>
</div>