<div class="menu">
    <div class="logo"></div>
    <div class="pages">
        <div class="mainPage">
            <button type="button" class="butMain"></button>
            <button type="button" class="logout"></button>
        </div>

    </div>
</div>