<div class="Plan-Balance">
    <h3 class="Fact-Plan-text">
        Планируемый
    </h3>
    <div class="CheckSum">
        <h2 class="PlanSum">{{ PlanSum }} ₽</h2>
    </div>
        <div class="Plan-Balance-text" style="display: flex">
            <a style="display: flex; text-decoration: none; color: black" href="#">
                <p class="Fact-text"> посмотреть &nbsp</p>
                <p class="Plan-text" >расходы &nbsp<p>
                <p class="Fact-text"> за 2 недели→ &nbsp</p>
            </a>
        </div>
</div>