
<<<<<<< HEAD
.informer {
  position: absolute;
  top: 100%;
=======

.informer {
  position: absolute; 
  top: 100%;         
>>>>>>> 571b36c (informer added)
  left: 0;
  width: 250px;
  background: #333;
  color: #fff;
  font-size: 0.875rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  z-index: 10;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.show .informer {
  opacity: 1;
  visibility: visible;
}
