@import "../../components/Fact_Bal/index.css";
@import "../../components/Plan_Bal/index.css";
@import "../../components/add/index.css";
@import "../../components/cards/index.css";
@import "../../components/operations/index.css";
@import "../../components/menu/index.css";
@import "../../components/scroller/index.css";
@import "../../components/profileBlock/index.css";
@import "../../components/addTransactions/index.css";
.banks {
  font-family: "Montserrat";
  font-weight: 500;
  margin-left: 30px;
  float: right;
  height: 100px;
  color: #555353;
  position: relative;
  top: -15px;
}

#main {
    flex: 1;
  width: 155vh;
  height: 113vh;
  background-color: #f6f6f8;
  margin-left: 13vh;
  border-radius: 48px;
  padding-right: 20px;
  padding-left: 29px;
  padding-bottom: 20px;
}

.section {
  display: flex;
}
.left-section {
  gap: 2px;
  display: flex;
  flex-direction: column;
}
.right-section {
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex: 1;
}

@font-face {
  font-family: "Montserrat";
}

.general {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 40px;
  margin-left: 30px;
  padding-top: 4px;
}

.addCard {
  display: block;
  background-color: #eb5b1d;
  border-radius: 8px;
  width: 274px;
  height: 43px;
  font-family: "Montserrat";
  font-weight: 600;
  color: white;
  text-align: center;
  text-decoration: none;
  line-height: 43px;
}

.card_handler {
  gap: 40px;
}

.card_but_hand {
  position: relative;
  bottom: -152px;
}

.main__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
