@import "../../components/Fact_Bal/index.css";
@import "../../components/Plan_Bal/index.css";
@import "../../components/add/index.css";
@import "../../components/cards/index.css";
@import "../../components/operations/index.css";
@import "../../components/menu/index.css";
@import "../../components/scroller/index.css";
@import "../../components/profileBlock/index.css";
@import "../../components/addTransactions/index.css";
.banks {
  font-family: "Montserrat";
  font-weight: 500;
  margin-left: 30px;
  float: right;
  height: 100px;
  color: #555353;
  position: relative;
  top: -15px;
}
#main {
    position: relative;
    flex: 1;
    width: 63vw;
    height: 95vh;
    float: right;
    margin-right: 10px;
    background-color: #f6f6f8;
    border-radius: 48px;
    padding-right: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    container-type: size;
    overflow: hidden;
}



.wrapper {
    transform-origin: top left;
    width: max-content;
    height: max-content;
    max-width: 100%;
    max-height: 100%;
}


.main__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}



.section {
  display: flex;
}
.left-section {
  gap: 2px;
  display: flex;
  flex-direction: column;
}
.right-section {
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex: 1;
}

@font-face {
  font-family: "Montserrat";
}

.general {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 40px;
  margin-left: 30px;
  padding-top: 4px;
    margin-block-end: 10px;
}

.addCard {
  display: block;
  background-color: #eb5b1d;
  border-radius: 8px;
  width: 274px;
  height: 43px;
  font-family: "Montserrat";
  font-weight: 600;
  color: white;
  text-align: center;
  text-decoration: none;
  line-height: 43px;
}

.card_handler {
  gap: 40px;
}

.card_but_hand {
  position: relative;
  bottom: -152px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 1100px) {
    .grid {
        grid-template-columns: 1fr;
    }
}




