.logo {
  width: 85px;
  height: 85px;
  background-color: #ffffff;
  background-image: url("/imgs/logo.png");
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  margin-top: 34px;
    justify-content: center;
}

.butMain {
    border-radius: 8px;
    background-image: url("/imgs/main_page.png");
    transition: all 0.2s ease; /* плавная анимация */
    cursor: pointer;
}

.butMain:hover {
    background-image: url("/imgs/main_page_hover.png"); /* белая дверь */
    background-color: black; /* черный фон */
    border-radius: 8px;
    transform: scale(0.95);  /* небольшое уменьшение для "эффекта нажатия" */
}
.LeftPart {
  width: 7%;
  height: auto;
  display: flex;
  justify-content: center;
    margin-right: 1vh;
    position: fixed;
    left: 1vh;
    top: 0;

}
.mainPage {
  display: grid;
  justify-content: center;
}

.logout {
    height: 57px;
    width: 57px;
    border: none;
    background-color: transparent;
    border-radius: 8px;
    background-image: url("/imgs/logout.png");
    background-size: cover;
    background-position: center;
    transition: all 0.2s ease;
    cursor: pointer;
    position: relative;
    top: 500px;
}

.logout:hover {
    background-image: url("/imgs/logout_hover.png");
    background-color: black;
    border-radius: 8px;
    transform: scale(0.95);
}

.butTransaction{
    border-radius: 8px;
    background-image: url("/imgs/TransactionsMenuBase.svg");
    transition: all 0.2s ease; /* плавная анимация */
    cursor: pointer;
}

.butTransaction:hover {
    background-image: url("/imgs/TransactionsButtonHover.svg");
    background-color: black; 
    border-radius: 8px;
    transform: scale(0.95); 
}

.logout:hover {
  position: relative;
  top: 500px;
  height: 57px;
  width: 57px;
  background-size: cover;
  background-position: center;
  background-image: url("/imgs/logout_hover.png");
  border: none;
  background-color: transparent;
}

.meny__button {
  margin-top: 72px;
  height: 48px;
  width: 49px;
  background-size: cover;
  background-position: center;
  border: none;
  background-color: transparent;
}

.profile {
  background-image: url("/imgs/profile.png");
}

.profile:hover {
  background-image: url("/imgs/profile_hover.png");
}
