.LeftPart{
    width: 24vh;
    height: 30%;
}
.logoPlanero {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 5vh;
    margin-top: 1vh;
}

.RawLogoMenu{
    display: grid;
}

.RawMenu{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 4vh;
}


.mainRoute button{
    width: 22vh;
    height: 5vh;
    display: flex;
    align-items: center;
    gap: 2vh;
    font-family: "Montserrat Semibold";
    font-size: 1.02rem;
    color: #6D2100;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 12px;
}

.MainPicture{
    background-image: url("/imgs/MainPage.svg");
    background-repeat: no-repeat;
    background-position: left center;
    width: 19px;
    height: 20px;
    transition: background-image 0.3s ease-in-out;
}

.mainRoute button:hover{
    color: #EB5B1D;
    background: white;
    border-radius: 12px;
    transform: scale(1.02);
}

.mainRoute button:hover .MainPicture{
    background-image: url("/imgs/MainPageHover.svg");
    background-repeat: no-repeat;
    background-position: left center;
}

.mainRoute button:active{
    color: #EB5B1D;
    background: white;
    border-radius: 12px;
    transform: scale(1.02);
}

.mainRoute button.active,
.profileRoute button.active,
.cardsRoute button.active,
.transactionRoute button.active {
    color: #EB5B1D;
    background: white;
    border-radius: 12px;
    transform: scale(1.02);
    font-weight: bold;
}

.mainRoute button.active .MainPicture {
    background-image: url("/imgs/MainPageHover.svg");
    background-repeat: no-repeat;
    background-position: left center;
}

.profileRoute button.active .ProfilePicture {
    background-image: url("/imgs/ProfilePictureHover.svg");
    background-repeat: no-repeat;
    background-position: left center;
}

.cardsRoute button.active .CardsPicture {
    background-image: url("/imgs/CardsPictureHover.svg");
    background-repeat: no-repeat;
    background-position: left center;
}

.transactionRoute button.active .TransactionPicture {
    background-image: url("/imgs/TransactionPictureHover.svg");
    background-repeat: no-repeat;
    background-position: left center;
}


.profileRoute button{
    display: flex;
    gap: 2vh;
    width: 22vh;
    height: 5vh;
    align-items: center;
    font-family: "Montserrat Semibold";
    font-size: 1.02rem;
    color: #6D2100;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 12px;
}
.ProfilePicture{
    background-image: url("/imgs/ProfilePicture.svg");
    background-repeat: no-repeat;
    background-position: left center;
    width: 20px;
    height: 24px;
    transition: background-image 0.3s ease-in-out;
}

.profileRoute button:hover{
    color: #EB5B1D;
    background: white;
    border-radius: 12px;
    transform: scale(1.02);
}
.profileRoute button:hover .ProfilePicture{
    background-image: url("/imgs/ProfilePictureHover.svg");
    background-repeat: no-repeat;
    background-position: left center;
}

.transactionRoute button{
    display: flex;
    gap: 2vh;
    width: 22vh;
    height: 5vh;
    align-items: center;
    font-family: "Montserrat Semibold";
    font-size: 1.02rem;
    color: #6D2100;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 12px;
}
.TransactionPicture{
    background-image: url("/imgs/TransactionPicture.svg");
    background-repeat: no-repeat;
    background-position: left center;
    width: 20px;
    height: 24px;
    transition: background-image 0.3s ease-in-out;
}

.transactionRoute button:hover{
    color: #EB5B1D;
    background: white;
    border-radius: 12px;
    transform: scale(1.02);
}

.transactionRoute button:hover .TransactionPicture{
    background-image: url("/imgs/TransactionPictureHover.svg");
    background-repeat: no-repeat;
    background-position: left center;
}

.cardsRoute button{
    display: flex;
    gap: 2vh;
    width: 22vh;
    height: 5vh;
    align-items: center;
    font-family: "Montserrat Semibold";
    font-size: 1.02rem;
    color: #6D2100;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 12px;
}

.CardsPicture{
    background-image: url("/imgs/CardsPicture.svg");
    background-repeat: no-repeat;
    background-position: left center;
    width: 31px;
    height: 24px;
    transition: background-image 0.3s ease-in-out;
}

.cardsRoute button:hover{
    color: #EB5B1D;
    background: white;
    border-radius: 12px;
    transform: scale(1.02);
}

.cardsRoute button:hover .CardsPicture{
    background-image: url("/imgs/CardsPictureHover.svg");
    background-repeat: no-repeat;
    background-position: left center;
}

.logoutRoute button{
    display: flex;
    gap: 2vh;
    position: absolute;
    bottom: 4vh ;
    width: 22vh;
    height: 5vh;
    align-items: center;
    font-family: "Montserrat Semibold";
    font-size: 1.02rem;
    color: #6D2100;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 12px;
}
.LogoutPicture{
    background-image: url("/imgs/LogoutPicture.svg");
    background-repeat: no-repeat;
    background-position: left center;
    width: 31px;
    height: 24px;
    transition: background-image 0.3s ease-in-out;
}

.logoutRoute button:hover{
    color: #EB5B1D;
    background: white;
    border-radius: 12px;
    transform: scale(1.02);
}

.logoutRoute button:hover .LogoutPicture{
    background-image: url("/imgs/LogoutPictureHover.svg");
    background-repeat: no-repeat;
    background-position: left center;
}





.menu-divider {
    border: none;
    border-top: 1px solid #6D2100;
    margin: 10px -20px;
    width: calc(100% + 20px);
    opacity: 38% ;
}


@media (max-width: 768px) {
    .LeftPart{
        display: block;
        position: absolute;
        bottom: 0;
    }

    .RawMenu{
        display: flex;
        flex-direction: row;
        width: 72vw;
        justify-content: space-between;
    }

    .logoPlanero{
        display: none;
    }

    #mainButtn{
        display: flex;
        flex-direction: column;
        gap: 2px;
        font-size: 6px;
        justify-content: center;
    }

    #profile{
        display: flex;
        flex-direction: column;
        gap: 2px;
        font-size: 6px;
        justify-content: center;
    }

    #cardsButtn{
        display: flex;
        flex-direction: column;
        gap: 2px;
        font-size: 6px;
        justify-content: center;
    }

    #transaction{
        display: flex;
        flex-direction: column;
        gap: 2px;
        font-size: 6px;
        justify-content: center;
        align-items: center;
    }



    .mainRoute button{
        height: 49px;
        width: 49px;
    }

    #logout{
        display: flex;
        flex-direction: column;
        gap: 2px;
        font-size: 6px;
        justify-content: center;
    }

    .profileRoute button{
        height: 49px;
        width: 53px;
    }

    .cardsRoute button{
        width: 58px;
        height: 49px;
    }

    .transactionRoute button{
        width: 68px;
        height: 49px;
    }

    .logoutRoute button{
        height: 68px;
        width: 68px;
        position: relative;
        bottom: 10px;
        left: -30px;
    }

    .menu-divider{
        display: none;
    }

}