.cards-scroll-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
}

.cards-scroll {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  box-sizing: border-box;
}

.cards-scroll::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
    .cards-scroll-container {
        display: none;
    }
}