.upload-label {
    background-color: #F47200;
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.2s;
}

.upload-label:hover {
    background-color: #E16040;
}

.file-name {
    font-size: 14px;
    color: #666;
    font-style: italic;
}
