<div class="overlay" id="categoryPopup" style="display: none;">
    <div class="popup-form">
        <button class="close-btn" onclick="closeCategoryPopup()">×</button>
        <h2>Новая категория</h2>
        <form class="create-category-form" id="categoryForm">

            <div class="input-group">
                <input type="text" placeholder="Название категории (обяз.)" required />
            </div>

            <div class="input-group">
                <label for="categoryIcon" class="upload-label">Загрузить иконку</label>
                <input type="file" id="categoryIcon" accept="image/*" style="display: none;" />
                <div class="file-name" id="fileName">Файл не выбран</div>
            </div>

            <div class="input-group">
                <input type="text" placeholder="Описание категории (необяз.)" />
            </div>

            <button type="submit" class="submit-btn-cat">+ Добавить категорию</button>
        </form>
    </div>
</div>
