<div class="cards">
  {{#if (not is_empty)}}
  <div class="card1">
    <h3 class="Card-One-text">Карта №1</h3>
    <div class="CheckSumCard">
      <h2>{{balance}} ₽</h2>
    </div>
    <div class="rashod-card">
      <p class="NaibolshRashod">наибольший расход за период</p>
      <div style="display: flex">
        <div style="display: grid">
          <h1 class="rashod_sum">{{naibolsh_rashod}} ₽</h1>
          <div class="actions"><p class="rashod-sum-action">{{action}}</p></div>
        </div>
        <div class="rashod-img">
          <img class="drawing" src="/imgs/draw_for_cards.png" alt="img" />
        </div>
      </div>
    </div>
  </div>
  {{else}}
  <div class="card1">
    <div class="cards_not_exist">
      <a class="add_cards" href="#">+ Добавить счет</a>
    </div>
  </div>
  {{/if}}
</div>
