<div class="carousel">
  <div class="carousel-track-container">
    <div class="carousel-track">
      {{#each cards}}
        {{{this}}}
      {{/each}}
    </div>

    {{#if exist_card}}
      <button class="carousel-btn prev">‹</button>
      <button class="carousel-btn next">›</button>
    {{/if}}
  </div>
</div>