<div class="menu">
  <div class="logo"></div>
  <div class="pages">
    <div class="mainPage">
      <button type="button" class="butMain" id="main"></button>
        <button type="button" class="butTransaction" onclick="gotoPage(config.transactions_page)"></button>
      <button type="button" class="meny__button profile" id="profile"></button>
      <button type="button" class="logout" id="logout"></button>
    </div>
  </div>
</div>
