<div class="user_profile__block">
  <img
    src="https://avatars.mds.yandex.net/i?id=7a24a487807a39282f20a115186e006f_l-16412977-images-thumbs&n=13"
    alt=""
    class="user_profile_block_avatar"
  />
  <div class="user_profile_block_info">
    <span> {{{user_name}}} </span>
    <span class="user_profile_block__id"> ID: {{{user_id}}} </span>
  </div>
</div>