<div class="Transactions">
  {{#if operations_exists}}
  <div class="Transaction-header">
    <p class="Transact-Category-text">Операции</p>
    <button onclick="openPopup()" class="open-btn">+</button>
      <div class="search-wrapper">
          <div class="search-box">
              <img src="/imgs/search.svg" alt="">
              <input type="text" placeholder="Поиск">
              <button class="filter-btn">
                  <img src="/imgs/filters.svg" alt="img-filter">
              </button>
          </div>
      </div>
  </div>
  <div class="transaction-list">
      {{{ transactions }}}
  </div>
  {{else}}
  <div class="oper_not_exists">a
    <div class="oper_not_exists_img"></div>
    <h2 style="color: #949494; font-size: 20px">Тут пока ничего нет :(</h2>
    <a class="add_operation" onclick="openPopup()">+ Добавить операцию</a>
  </div>
  {{/if}}
</div>
