.carousel {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.carousel-track-container {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  transition: transform 0.4s ease;
}

.carousel-track > * {
  flex: 0 0 100%;
  box-sizing: border-box;
}

.carousel-btn {
  position: absolute;

  transform: translateY(-50%);
  background: #eb5b1d;
  border: none;
  color: white;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 3;
}

.next {
  top: 35%;
  left: 85%;
}

.prev {
  top: 50%;
  left: 85%;
}
