
.Plan-Balance{
    width: 469px; /* Ширина в пикселях */
    height: 185px; /* Высота в пикселях */
    background-color: #FFFFFF;
    border-radius: 26px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.04);
}

.PlanSum{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 32px;
    margin-left: 32px;
    margin-top: 35px;
}

.Plan-Balance-text{
    font-family: Montserrat;
    font-weight: 600;
    margin-left: 32px;
}

.Plan-Balance-text{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 13px;
    margin-left: 32px;
    position: relative;
    bottom: 46px;
}

.Plan-text{
    color: #9E0C0C;
    text-align: center;
}