

body {
    background-color: #EB5B1D;
}

#main{
    width: 1233px;
    height: 988px;
    background-color: #F6F6F8;
    margin-right: 14px;
    border-radius: 48px;
    padding-right: 20px;
    padding-left: 29px;
    padding-bottom: 40px;
    float: right;

}

.LeftPart{
    float: left;
    width: 15%;
    height: auto;
    display: flex;
    justify-content: center;
}


.general{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 40px;
    margin-left: 30px;
    padding-top: 4px;
}

.balance{
    margin-left: 30px;
    float: left;
    position: relative;
    top: -15px;
}

.balance-text{
    font-family: Montserrat Regular;
    color: #555353;
}
.banks{
    font-family: Montserrat Regular;
    margin-left: 30px;
    float: right;
    width: 100px;
    height: 100px;
    color: #555353;
}

.Fact-Balance{
    width: 469px; /* Ширина в пикселях */
    height: 369px; /* Высота в пикселях */
    background-color: #FFFFFF;
    border-radius: 26px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.04);
}

.Fact-Plan-text{
    font-family: Montserrat;
    font-weight: bold;
    color: #949494;
    margin-left: 32px;
    padding-top: 37px ;

}

.Plan-Balance{
    width: 469px; /* Ширина в пикселях */
    height: 185px; /* Высота в пикселях */
    background-color: #FFFFFF;
    border-radius: 26px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.04);
}

.Add{
    width: 469px; /* Ширина в пикселях */
    height: 219px; /* Высота в пикселях */
    background-color: #FFFFFF;
    border-radius: 26px;
    background-image: url("../../static/imgs/vk-add.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 19px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.04);
}

.card1{
    width: 264px;
    height: 369px;
    background-color: #FFFFFF;
    border-radius: 26px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.04);
}
.Card-One-text{
    font-family: Montserrat;
    font-weight: bold;
    color: #949494;
    margin-left: 32px;
    padding-top: 37px ;
}

.operations{
    width: 658px;
    height: 420px;
    margin-top: 16px;
    background-color: #FFFFFF;
    border-radius: 26px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.04);
}




.logo{
    width: 85px; /* Ширина в пикселях */
    height: 85px; /* Высота в пикселях */
    background-color: #FFFFFF;
    background-image: url("../../static/imgs/logo.png");
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    margin-top: 34px;
}

.butMain{
    margin-top: 72px;
    height: 48px;
    width: 49px;
    background-size: cover;
    background-position: center;
    border: none;
    background-color: transparent;
    background-image: url("../../static/imgs/main_page.png");

}

.butMain:hover{
    margin-top: 72px;
    height: 48px;
    width: 49px;
    background-size: cover;
    background-position: center;
    border: none;
    background-color: transparent;
    background-image: url("../../static/imgs/main_page_hover.png");
}

.mainPage{
    display: grid;
    justify-content: center;
}

.logout{
    position: relative;
    top: 703px;
    height: 57px;
    width: 57px;
    background-size: cover;
    background-image: url("../../static/imgs/logout.png");
    background-position: center;
    border: none;
    background-color: transparent;
}

.logout:hover{
    position: relative;
    top: 703px;
    height: 57px;
    width: 57px;
    background-size: cover;
    background-position: center;
    background-image: url("../../static/imgs/logout_hover.png");
    border: none;
    background-color: transparent;
}

.FactSum{
    font-family: Montserrat Semibold;
    font-size: 32px;
    margin-left: 32px;
    margin-top: 43px;

}


.Fact-text{
    font-family: Montserrat Semibold;
    font-size: 13px;
}

.Fact-balance-text{
    margin-left: 32px;
    position: relative;
    bottom: 46px;
}

.Fact-minus-text{
    font-family: Montserrat Semibold;
    font-size: 13px;
    color: #9E0C0C;
}

.Fact-plus-text{
    font-family: Montserrat Semibold;
    font-size: 13px;
    color: #72B552;
}

.CheckSum{
    display: flex;
    position: relative;
    bottom: 30px;
    color: black;
}

.ProcentUp{
    background-color: #A1FF89;
    height: 32px;
    width: 67px;
    float: right;
    margin-top: 43px;
    margin-left: 81px;
    border-radius: 5px;
}

.ProcentDown{
    background-color: #FF7C7C;
    height: 32px;
    width: 67px;
    float: right;
    margin-top: 43px;
    margin-left: 81px;
    border-radius: 5px;
}

.ProcTextUp{
    font-family: Montserrat Semibold;
    font-size: 14px;
    color: #24A600;
    text-align: center;
    position: relative;
    top: -5px


}

.ProcTextDown{
    font-family: Montserrat Semibold;
    font-size: 14px;
    color: #9E0C0C;
    text-align: center;
    position: relative;
    top: -5px

}

.PlanSum{
    font-family: Montserrat Semibold;
    font-size: 32px;
    margin-left: 32px;
    margin-top: 35px;
}

.Plan-Balance-text{
    font-family: Montserrat Semibold;
    margin-left: 32px;
}

.Plan-Balance-text{
    font-family: Montserrat Semibold;
    font-size: 13px;
    margin-left: 32px;
    position: relative;
    bottom: 46px;
}

.Plan-text{
    color: #9E0C0C;
    text-align: center;
}


@font-face {
    font-family: "Montserrat";
}









