@import "pages/login/login.css";
@import "pages/signup/Signup.css";
@import "pages/main/Main.css";
@import "pages/profile/Profile.css";
@import "pages/transactions/Transactions.css";
@import "pages/cards/Cards.css";
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  margin: 0px;
  padding: 0px;
}

.body_background {
  margin: 8px;
  background-color: #eb5b1d;
}

.hide-scroller::-webkit-scrollbar {
  display: block;
}

.hide-scroller {
  overflow: hidden;
}

